<div class="dialog-container">

    @if (loading) {
    <mat-progress-bar class="progress-bar" mode="indeterminate"></mat-progress-bar>
    }
  
    <h2 mat-dialog-title>Edit user</h2>
    <div mat-dialog-content>
      <div>
        <mat-form-field class="mr-16" appearance="outline">
          <mat-label>First name</mat-label>
          <input [disabled]="loading" [(ngModel)]="user.firstName" matInput>
          <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input [disabled]="loading" [(ngModel)]="user.lastName" matInput>
          <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>
      </div>
    </div>

    <div mat-dialog-content>
        <mat-form-field appearance="outline" class="full-widht">
          <mat-label>Birth Date</mat-label>
          <input [disabled]="loading" [(ngModel)]="birthDate" matInput [matDatepicker]="datepicker">
          <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
          <!-- <mat-hint>Please enter a date</mat-hint> -->
        </mat-form-field>
      </div>
  
    <div mat-dialog-content>
    <mat-form-field class="mr-16" appearance="outline" class="full-widht">
      <mat-label>E-Mail</mat-label>
      <input [disabled]="loading" [(ngModel)]="user.email" matInput>
    </mat-form-field>
  </div>
  

  
    <div mat-dialog-content mat-dialog-actions>
      <button [disabled]="loading" mat-button (click)="closeDialog()">Cancel</button>
      <button [disabled]="loading" mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
    </div>
  
  </div>
